.nav-item i {
    width: 26px;
    text-align: center;
}
ul.nav.nav-treeview {
    margin: 0 0 0 14px;
}
ul.nav.nav-treeview {
    margin: 0 0 0 14px;
}
ul.navbar-nav.ml-auto .top-right.links li {
    float: left;
    padding: 00 0 0 9px;
}
ul.navbar-nav.ml-auto .top-right.links li ul.dropdown-menu {
    right: 0;
    left: auto;
    width: 193px;
}
ul.parsley-errors-list li {list-style: none;font-size: 14px;color: red;}
ul.parsley-errors-list {
    padding: 0;
    margin: 0;
}
.form-group img {
    border: solid 1px #ccc;
    padding: 5px;
    margin-bottom: 8px;
}
form .jFiler-theme-default .jFiler-input {
    width: 100%;
    box-shadow: none;
    font-size: 1rem;
    line-height: 37px;
    padding: 0 12px;
    height: 40px;
    padding-right: 0;
}

form .jFiler-input-button {
    float: right;
    background: #343a40;
    color: #fff;
    font-size: 17px;
    padding: 1px 22px;
}
.listing_medias {
    display: inline-block;
}
form .jFiler-theme-default .jFiler-input-caption {
    padding: 0;
}
form .listing_media_main {
    float: left;
    display: inline-block;
    border: solid 1px #ccc;
    position: relative;
    padding: 5px;
    margin: 0 19px 19px -13px;
}

form span.badge.badge-dark.delete_rink_photo {
    position: absolute;
    right: 0;
    top: 0;
}

.login-logo {color: #fff;margin-top: 100px;}

#surfacesDiv .surfaceRow { margin-bottom: 8px; }
#surfacesDiv .surfaceRow input[type="text"]{border:1px solid #ced4da;border-radius: .25rem;}
.addMoreSurface {background: #0032A0;height: 40px;border: 0;color: #fff;font-size:22px;width: 40px;text-align: center;}
.removeSurface {background: #ff0000;height: 40px;border: 0;color: #fff;font-size:22px;width: 40px;text-align: center;line-height: 1;}


.slotsTabs [type="checkbox"]:not(:checked), .slotsTabs [type="checkbox"]:checked {position: absolute;left: -9999px;}
.slotsTabs [type="checkbox"]:not(:checked) + label, .slotsTabs [type="checkbox"]:checked + label {position: relative;cursor: pointer;font-size: 14px;color: #474747;font-weight: normal;display: inline-block;width: 242px;vertical-align: top;padding:8px 0 0 35px;}
.slotsTabs [type="checkbox"]:not(:checked) + label::before {content: '';position: absolute;left: 0;top:12px;width:22px;height:22px;border: 1px solid #DCDCDC;background: #fff;border-radius:3px;}
.slotsTabs [type="checkbox"]:checked + label::before {content: '';position: absolute;left: 0;top:12px;width:22px;height:22px;border: 1px solid #0032A0;background: #0032A0;border-radius:3px;}
.slotsTabs [type="checkbox"]:not(:checked) + label::after {content: '';position: absolute;top:10.4px;left: 4.7px;width: 12px;height: 12px;background: #fff;border-radius: 3px;}
.slotsTabs [type="checkbox"]:checked + label::after {content: '\f00c';font-family: "Font Awesome 5 Free";font-weight: 900;position: absolute;top:15px;left: 4.7px;color: #fff;font-size: 12px;}
.slotsTabs [type="checkbox"]:not(:checked) + label:after { opacity: 0;transform: scale(0);}
.slotsTabs [type="checkbox"]:checked + label:after {opacity: 1; transform: scale(1);}
.slotsTabs [type="checkbox"]:disabled:not(:checked) + label:before, .slotsTabs [type="checkbox"]:disabled:checked + label:before {box-shadow: none; border-color: #bbb;background-color: #ddd;}
.slotsTabs [type="checkbox"]:disabled:checked + label:after {color: #999;}
.slotsTabs [type="checkbox"]:disabled + label {color: #aaa;}
.slotsTabs [type="checkbox"]:checked:focus + label:before, .slotsTabs [type="checkbox"]:not(:checked):focus + label:before {border: 1px solid #212121;}
.slotsTabs [type="checkbox"] + label + .inputBox, .slotsTabs [type="checkbox"] + label + .multipleslotCost {display:none;}
.slotsTabs [type="checkbox"] + label + br + label { width: 180px; display: inline-block; }
.slotsTabs [type="checkbox"] + label + br + label + .inputBox { display: inline-block; }
.slotsTabs [type="checkbox"] + label + br + label + .inputBox input {border:1px solid #ced4da;border-radius: .25rem;padding: 5px 10px;}
.slotsTabs [type="checkbox"]:checked + label + .inputBox { display: inline-block; }
.slotsTabs [type="checkbox"]:checked + label + .multipleslotCost { display: inline-block; }
.multipleslotCost label {display: inline-block;width: 180px;}
.multipleslotCost .inputBox.slotCost {display: inline-block; margin-bottom:10px;}
.multipleslotCost .inputBox.slotCost input {border:1px solid #ced4da;border-radius: .25rem;padding: 5px 10px;}
.memberRow {  }
.memberRow input[type="text"] {border: 1px solid #ced4da;border-radius: .25rem;padding: 5px 10px;margin: 6px 0 0 0; width: 100%;}
.memberRow .profilePic {width: 53px;height: 53px;padding: 2px;border: solid 1px #ccc; margin: 0 10px 8px 0;text-align: center;display: inline-block;vertical-align: top;}
.form-group .memberRow img {padding: 0; border: 0;margin: 0;width: 100%;height: 100%;}
.memberRow .inputfile + label {padding: 0;margin:0; outline: none; display: inline-block; width: 65%;}
.memberRow .profilePic + input + .inputfile + label span {font-size: 15px;display: block;font-weight: normal; position: relative;margin-bottom: 2px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:100%;}
.memberRow .profilePic + .inputfile + label span {font-size: 15px;display: block;font-weight: normal; position: relative;margin-bottom: 2px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:100%;}
.memberRow .inputfile + label strong {background: #0032A0;color: #fff;font-weight: normal;font-size: 16px;padding: 5px 10px;display: inline-block;border-radius: .25rem;min-width: 100px;text-align: center;margin-top:8px;}
.memberRow input.addMoreMember {background: #0032A0;border: 0;color: #fff;font-size: 23px;padding: 0;height: 30px;width: 30px;display: inline-block;line-height: 0;margin: 9px 0 0 0;}
.memberRow input.removeMember  {background:#c82333;border: 0;color: #fff;font-size: 23px;padding: 0;height: 30px;width: 30px;display: inline-block;line-height: 0;margin: 9px 0 0 0;}

.aboutbox {}
.aboutbox .box {}
.aboutbox .box label {border: 1px solid #ced4da;border-radius: .25rem;padding: 5px 10px;max-width: 100%;width: 100%;    position: relative; height: 42px;}
.aboutbox .box label span {font-weight: normal;font-size: 16px;}
.aboutbox .box label strong {background: #0032A0;color: #fff;font-weight: normal;position: absolute;font-size: 16px;
    right: 0;top: 0;bottom: 0;padding: 6px 20px;}
body .btn.btn-info {background: #0032A0;border: 0;min-width: 100px;}
section.errorpage a.btn.btn-link {
    background: #0032A0;
    color: #fff;
    margin-top: 30px;
    text-transform: uppercase;
}
section.errorpage a.btn.btn-link:hover, section.errorpage a.btn.btn-link:focus { text-decoration: none; opacity: 0.8 }
div#locationsDiv .form-control { margin-bottom: 10px; }
div#locationsDiv [type=button] {height: 35px;width: 35px;font-size: 18px;padding: 0;line-height: 25px;background: #0032A0;border: 0;border-radius: .25rem;color: #fff;}
.pdfBox {}
.pdfBox .fileSHj { display: inline-block; }
.pdfBox .dgAction {display: inline-block;vertical-align: top;margin: 30px 0 0 10px;}

